# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/*/node_modules
apps/*/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# turbo
.turbo
build/**
dist/**
.next/**

# misc
.DS_Store
*.pem

# next.js
apps/*/.next
.next/
out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# vscode
.vscode
*.code-workspace

# windows
desktop.ini
